* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FAFAF8;
}


header {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    width: 100%;
    height: 4rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px lightgray;
}

.header-container img {
    height: 100%;
    object-fit: contain;
    margin-right: 0.2rem;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

.header-container span {
    font-size: 1.5rem;
}

form {
    margin: 4rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
}

form input, form button {
    font-family: "Inter", sans-serif;
    height: 100%;
    border-radius: 5px;
    font-size: 0.8rem;
}

form input {
    border: 1px solid #D1D5DE;
    margin-right: 0.5rem;
    flex-grow: 1;
    min-width: 200px;
    max-width: 400px;
    padding: 0 0.5rem;
}

form button {
    font-weight: 400;
    border: none;
    background: #141413;
    color: white;
    padding: 0 1.5rem;
    min-width: 150px;
}

form input:focus {
    outline: none;
    box-shadow: 0 0 10px lightgray;
}

form button:hover {
    background: #141413C3;
}

form button::before {
    content: "+";
    margin-right: 0.2rem;
    color: white;
}

.ingredients-container {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    max-width: 400px;
    margin: 0 auto;
}

.ingredients-container legend {
    margin-bottom: 20px;
}

li {
    color: #475467;
    font-weight: 400;
}

.get-recipe-container {
    background-color: #F0EFEB;
    display: flex;
    align-items: center;
    justify-content: stretch;
    font-family: "Inter", sans-serif;
    padding: 20px 30px;
    border-radius: 5px;
    margin-top: 2rem;
}

.get-recipe-container h3 {
    color: #141413;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.get-recipe-container p {
    color: #6B7280;
    font-weight: 300;
    font-size: 0.8rem;
}

.get-recipe-container button {
    color: #FAFAF8;
    background-color: #D17557;
    font-weight: 400;
    font-size: 0.8rem;
    border-radius: 5px;
    border: none;
    width: 8rem;
    height: 2rem;
}

.get-recipe-container button:hover {
    background-color: #D18557;
}




